.campaign__cards {
  flex: 1;
  margin: 1px;
  .campaign__header {
    font-weight: bold;
  }
  .campaign__card {
    flex: 0 0 80%;
    align-items: center;
    div {
      flex: 1;
      align-items: center;
      word-break: break-all;
      &.checkbox__id {
        flex: 0 0 25px;
      }
      &.campaign__name {
        flex: 0 0 1;
      }
      &.campaign__date {
        word-break: break-word;
        flex: 0 0 3;
      }
      &.campaign__action {
        flex: 0 0 1;
      }
    }
  }
}
